/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*= require bootstrap
*= require bootstrap-datetimepicker

html{
  font-family: "Lucida Grande", Lucida, sans-serif;
  font-size: 100%;
}

body{
  margin: 0px;
}

.main{
  margin-top:50px;
  height: 5000px;
}

.header{
  position:fixed;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height:50px;
  border-bottom: 1px solid black;
}

#logo{
  height: 50px;
}

#login{
  background-color: lime;
  text-decoration:none;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-left:1px solid black;
  height:100%;
  width:100px;
  font-size: 1em;
  color: black;
}

#signup{
  background-color: yellow;
  text-decoration:none;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-left:1px solid black;
  width:100px;
  font-size: 1em;
  color: black;
}

#signout{
  background-color: red;
  text-decoration:none;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-left:1px solid black;
  width:100px;
  font-size: 1em;
  color: black;
}

#profile{
  background-color: gray;
  text-decoration:none;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-left:1px solid black;
  width:100px;
  font-size: 1em;
  color: black;
}

.float-left{
  float: left;
  height:100%;
}

.float-right{
  float: right;
  height:100%;
}

