// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#signin {

    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.form_holder {
    width: 500px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    color: black;
}

.field, .submit {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

#alert {
    color: red;
    margin-left: auto;
    margin-rigt: auto;
    text-align: center;
}

#makeaccount {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


// User Profile //

#my_profile {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: #DAA520;
    font-size: 2em;
    font-color: black;
    text-align: center;
    line-height: 50px;
    color: black;
    margin-top: -100px;

}

.spacer{
  height: 120px;
  width: 100%;
}





.content_holder {
    margin-top: 150px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-bottom: 50px;
    border: 2px solid gold;
    color: black;
}

#first {
    font-color: black;
    font-size: 4em;
    text-align: center;
    margin-top: 20px;
    border-bottom: 1px solid black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;

}

#myreservations {
    height: 100px;
    line-height: 100px;
    font-size: 2em;
    text-align: center;
}

.reservation {
    width: 500px;
    border: 1px solid gold;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}


.res_restaurant {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    text-align: center;
    width: 300px;
    border-bottom: 1px solid black;
}

.res_date {
    text-align: center;
    font-size: 1.5em;
    width: 100%;
    height: 20px;
}

.res_time {
    text-align: center;
    font-size: 1.5em;
    width: 100%;
    height: 20px;
}

.res_size {
    text-align: center;
    font-size: 1.5em;
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
}

.button_container {

    height: 50px;
    width: 10px;
    margin-left: auto;
    margin-right: auto;


}

.res_button {
    height: 50px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: #DAA520;
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    color: white;
    transition:all 0.3s ease 0s;
    text-decoration: none;

}

.res_button:hover {
    color: black;
    text-decoration: none;
}

#cancel {
    background-color: #FF1C1C;
    }

#membersince {
    height: 100px;
    line-height: 100px;
    font-size: 1em;
    text-align: center;

}

.confirm_res {
    width: 100%;
    margin-bottom: 20px;

        input[type="submit"] {
            display: block;
            height: 50px;
            width: 150px;
            margin-left: auto;
            margin-right: auto;
            background-color: #DAA520;
            border-radius: 5px;
            line-height: 50px;
            text-align: center;
            color: white;
            transition:all 0.3s ease 0s;
                a {
                text-decoration: none;
                }
                a:hover {
                text-decoration: none;
                color: black;
                }
    }
}


