// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search{
  background-color: #F9F9F9;
  padding-top:1em;
  padding-bottom:1em;
  text-decoration:none;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-size:2em;
  width:100%;
  font-family: "Lucida Grande", Lucida, sans-serif;
}

.restaurant_result{
  width:100%;
  height:200px;
  display:flex;
  margin-bottom: 10px;
}

.photo_container{
  width: 40%;
  height: 100%;
}

#restaurant_photo{
  height:100%;
  width: 100%;
}

.info_container{
  width: 60%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  line-height: 100%;
}

#title {
  width: 100%;
  height: 60%;
  background-color: #141414;
  text-align: center;
  font-size: 4em;
    a {
    text-decoration: none;
    color: #DAA520;
    }
    #name {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    }
}

.info {
  width: 25%;
  height: 40%;
  background-color: #141414;
  text-align: center;
  font-size: 1em;
  word-wrap: normal;
  color: white;
    #address {
      padding-top: 20%;
      padding-bottom: 20%;
    }
    #rating {
      padding-top: 20%;
      padding-bottom: 20%;
      font-size: 2em;
    }
    #cost {
      padding-top: 20%;
      padding-bottom: 20%;
      font-size: 2em;
    }
    #cuisine {
      padding-top: 20%;
      padding-bottom: 20%;
      font-size: 2em;
    }

    #myImage {
    zoom: 2;  //increase if you have very small images

    display: block;
    margin: auto;

    height: auto;
    max-height: 100%;

    width: auto;
    max-width: 100%;
    }
}

